body
{
    background-image: linear-gradient(to bottom right, #2e93d2, #cc33ff);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table
{
    background-color: white;
    border: 2px solid black;

    padding: ;

    display: flex;
    justify-content: space-around;
}

th
{
    border: 2px solid black;
    font-weight: bold;
}

td
{
    border: 1px solid grey;
    text-align: center;
}

.c2
{
    padding: 5px;

    width: 50%;
    font-style: italic;
}